a {
    text-decoration: none;
}

svg {
    width: var(--width-s);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: var(--width-s);
    height: 100%;
    float: left;
    background: var(--primary);
    border-right: 2px solid var(--grey);
    color: var(--content-color);
}

#dropdown-content {
    color: var(--content-color);
}

#logo-section {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 100%;
    color: var(--content-color);
}

#logo-section>a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
    width: 100%;
}

#mic-recording {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#dropdown-button {
    display: none;
}