main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    background-color: #f1f1f1;
}

.card > p {
    color: black;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

input {
    display: block;
    outline:none;
    border: none;
    border-bottom: 1px solid var(--grey);
    padding: 6px 30px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 1.8;
    color: var(--grey);
    font-weight: 400;
}