<!DOCTYPE html>
<html>

<head>
	{% include 'sub/head.html' %}
	{% include 'sub/scripts.html' %}
</head>

<body>
	{% include 'sub/header.html' %}

	<main>
		<section id="posts-list">
			<h1 id="page-title">
				Andrei Grecu
			</h1>
			{% for post in posts %}
			<div class="post-space">
				<div class="post-left">
					<p class="post-date">
						{{ post.publishedDate.getDate() }}.{{ post.publishedDate.getUTCMonth() }}.{{ post.publishedDate.getUTCFullYear() }}
					</p>
					<h1 class="post-title"> {{ post.title }} </h1>
					<div class="author-section">
						<div class="author-avatar">
	
						</div>
						<div class="post-author-name-area">
							<p>Autor</p>
							<author>Andrei Grecu</author>
						</div>
					</div>
					<p class="post-description">{{ post.description | safe }}</p>
					<a href="/post/{{post._id}}">
						<button class="post-button"> Continuă </button>
					</a>
				</div>
				<div class="post-right">
					<img src="/assets/postImages/{{post.imagePath}}" alt="" class="post-image">
				</div>

			</div>
			{% else %}
			<p>Lista postari goala</p>
			{% endfor %}
			<div id="pagination">
				{% if currentPage == 1 %}
				<a href="/"><button id="last-page-button">❮</button></a>
				<a href="/page/{{currentPage + 1}}"><button id="last-page-button">❯</button></a>
				{% else %}
				<a href="/page/{{currentPage - 1}}"><button id="last-page-button">❮</button></a>
				{% if posts.length == 0 %}
				<a href="/page/{{currentPage}}"><button id="last-page-button">❯</button></a>
				{% else %}
				<a href="/page/{{currentPage + 1}}"><button id="last-page-button">❯</button></a>
				{% endif %}
				{% endif %}
			</div>
		</section>
	</main>

	{% include 'sub/footer.html' %}

</body>

</html>