<!DOCTYPE html>
<html>

<head>
	{% include 'sub/head.html' %}
	{% include 'sub/scripts.html' %}
</head>

<body onload="loadTheme()">

    {% include 'sub/header.html' %}

    <main>
        <div id="form-card">
            <h1>Autentificare</h1>
            <form action="/user/login" method="POST">
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="Email...">
                <label for="password"></label>
                <input type="password" id="password" name="password" autocomplete="off" placeholder="Parola...">
                {% for error in errors %}
                <p class="form-error-message">
                    {{ error }}
                </p>
                {% endfor %}
                <div class="form-button-container">
                    <button type="submit" value="Submit">Trimite</button>
                </div>
            </form>
        </div>
    </main>

    {% include 'sub/footer.html' %}

</body>

</html>